body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #eeeeee;
  padding: 0 10vw;
}

h1 {
  text-align: left;
  font-size: 4vh; /* Fixed invalid value "1vhvh" */
  color: white;
  padding-left: 3vw;
}

header {
  background-color: #474747;
  height: 10vh;
  width: 100vw;
}

footer {
  text-align: center;
  background-color: #252323;
  color: white;
  height: 10vh;
  width: 100vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 2vh;
}

#pixel-art-container {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(25, 1fr);
  gap: 1px;
  width: 80vmin; /* Ensure square grid */
  height: 80vmin; /* Ensure square grid */
  border: 1px solid black;
  margin: 2vh;
}

.cell {
  width: calc((80vmin - 24px) / 25);  /* 25 cells, 24 gaps of 1px each */
  height: calc((80vmin - 24px) / 25); /* 25 cells, 24 gaps of 1px each */
  background-color: white;
}

a {
  text-decoration: none;
  color: inherit;
}


/* Customize colors for individual cells */
#pixel-art-container .cell:nth-child(1) {
  background-color: red;
}
#pixel-art-container .cell:nth-child(2) {
  background-color: blue;
}
#pixel-art-container .cell:nth-child(3) {
  background-color: green;
}
#pixel-art-container .cell:nth-child(4) {
  background-color: yellow;
}
#pixel-art-container .cell:nth-child(5) {
  background-color: purple;
}
#pixel-art-container .cell:nth-child(6) {
  background-color: red;
}
#pixel-art-container .cell:nth-child(7) {
  background-color: orange;
}
#pixel-art-container .cell:nth-child(8) {
    background-color: purple;
}
#pixel-art-container .cell:nth-child(9) {
    background-color: rgb(17, 255, 0);
}
#pixel-art-container .cell:nth-child(10) {
  background-color: black;
}
#pixel-art-container .cell:nth-child(11) {
  background-image: radial-gradient(#d0b200,#a58d00);
}
#pixel-art-container .cell:nth-child(12) {
  background-color: rgb(15, 151, 179);
}
#pixel-art-container .cell:nth-child(13) {
    background-color: yellowgreen
}
#pixel-art-container .cell:nth-child(14) {
  background-color: rgb(255, 255, 255);
}
#pixel-art-container .cell:nth-child(15) {
    background-color: orange
}
#pixel-art-container .cell:nth-child(16) {
    background-color: black
}
#pixel-art-container .cell:nth-child(17) {
  background-color: black !important;
}
#pixel-art-container .cell:nth-child(18) {
  background-color: gold;
}
#pixel-art-container .cell:nth-child(19) {
  background-color: DodgerBlue;
}
#pixel-art-container .cell:nth-child(20) {
  background-color: Aqua;
}
#pixel-art-container .cell:nth-child(21) {
  background-color: red;
}
#pixel-art-container .cell:nth-child(22) {
    background-color: gold;
}
#pixel-art-container .cell:nth-child(23) {
    background-color: green
}
#pixel-art-container .cell:nth-child(30) {
  background-color: rgb(11, 200, 152);
}
#pixel-art-container .cell:nth-child(32) {
  background-color: rgb(0, 191, 255);
  clip-path: polygon(78% 0, 58% 0, 43% 7%, 30% 15%, 29% 33%, 61% 59%, 62% 76%, 49% 85%, 29% 85%, 29% 100%, 49% 100%, 63% 91%, 78% 81%, 76% 59%, 62% 46%, 44% 32%, 45% 21%, 58% 15%, 78% 15%);
}
#pixel-art-container .cell:nth-child(33) {
  background-color: rgb(154, 64, 141);
}
#pixel-art-container .cell:nth-child(37) {
  background-color: #07ee1a;
}
#pixel-art-container .cell:nth-child(40) {
  background-color: rgb(95, 50, 40);
}
#pixel-art-container .cell:nth-child(41) {
   background-color: rgb(18, 60, 89)
}
#pixel-art-container .cell:nth-child(42) {
  background-color: #ff69b4;
}
#pixel-art-container .cell:nth-child(45) {
  background-color: blue;
}
#pixel-art-container .cell:nth-child(48) {
  background-color:red;
}
#pixel-art-container .cell:nth-child(49) {
  background-color: #355cdc;
}
#pixel-art-container .cell:nth-child(50) {
  background-color:black;
}
#pixel-art-container .cell:nth-child(55) {
  background-color: rgb(6, 125, 93);
}
#pixel-art-container .cell:nth-child(58) {
  background-color:  rgb(77, 18, 120);
}
#pixel-art-container .cell:nth-child(60) {
  background-color: rgb(192, 255, 226);
}
#pixel-art-container .cell:nth-child(61) {
    background-color: orange;
}
#pixel-art-container .cell:nth-child(62) {
    background-color: orange;
}
#pixel-art-container .cell:nth-child(63) {
    background-color: orange;
}
#pixel-art-container .cell:nth-child(65) {
    background-color: orange;
}
#pixel-art-container .cell:nth-child(67) {
    background-color: pink;
}
#pixel-art-container .cell:nth-child(68) {
  background-color: orange;
}
#pixel-art-container .cell:nth-child(69) {
  background-color: royalblue;
}
#pixel-art-container .cell:nth-child(70) {
    background-color: steelblue
}
#pixel-art-container .cell:nth-child(71) {
  background-color: steelblue;
}
#pixel-art-container .cell:nth-child(89) {
    background-color: rgb(241, 21, 234)
}
#pixel-art-container .cell:nth-child(91) {
    background-color: burlywood;
}
#pixel-art-container .cell:nth-child(95) {
  background-color: lime;
}
#pixel-art-container .cell:nth-child(99) {
    background-color: yellowgreen;
}
#pixel-art-container .cell:nth-child(100) {
    background-color: rgb(100, 50, 50); 
}
#pixel-art-container .cell:nth-child(101) {
    background-color: yellowgreen;
}
#pixel-art-container .cell:nth-child(102) {
  background-color: rgb(177, 121, 121);
}
#pixel-art-container .cell:nth-child(104) {
    background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
}
#pixel-art-container .cell:nth-child(123) {
    background-color:#aa6f73;
}
#pixel-art-container .cell:nth-child(126) {
  background-color: red;
}
#pixel-art-container .cell:nth-child(137) {
  background-color: #331805;
}
#pixel-art-container .cell:nth-child(138) {
  background-color: rgb(17, 17, 17);
}
#pixel-art-container .cell:nth-child(148) {
  background-color: rgb(255, 102, 0);
}
#pixel-art-container .cell:nth-child(150) {
    background-color: blueviolet
}
#pixel-art-container .cell:nth-child(151) {
    background-color: #A47864
}
#pixel-art-container .cell:nth-child(153) {
  background-color: #6e6e6e;
}
#pixel-art-container .cell:nth-child(154) {
    background-color: rgb(12, 122, 150)
}
#pixel-art-container .cell:nth-child(181) {
  background-color: rgb(83, 0, 134);
}
#pixel-art-container .cell:nth-child(191) {
  background-image: radial-gradient(rgb(206, 255, 253), rgb(91, 255, 255));
}
#pixel-art-container .cell:nth-child(195) {
  background-color: rgb(250, 94, 255);
}
#pixel-art-container .cell:nth-child(199) {
  background-color: cyan;
}
#pixel-art-container .cell:nth-child(220) {
  background-color: pink;
}
#pixel-art-container .cell:nth-child(221) {
  background-color: blue;
}
#pixel-art-container .cell:nth-child(222) {
  background-color: green;
}
#pixel-art-container .cell:nth-child(223) {
    background-color: red;
}
#pixel-art-container .cell:nth-child(229) {
  background-color: rgb(51, 0, 255);
}
#pixel-art-container .cell:nth-child(230) {
  background-color: rgb(27, 181, 40);
}
#pixel-art-container .cell:nth-child(234) {
  background-color:  rgb(164, 97, 91);
}
#pixel-art-container .cell:nth-child(250) {
  background-color:  rgb(91, 19, 12);
}
#pixel-art-container .cell:nth-child(264) {
  background: linear-gradient(135deg, #fbc2eb, #a6c1ee);
}
#pixel-art-container .cell:nth-child(269) {
    background-color: lime;
}
#pixel-art-container .cell:nth-child(271) {
    background-color: gold;
}
#pixel-art-container .cell:nth-child(281) {
  background: linear-gradient(to bottom,#FF9933 5px,white 13px,#000080 15px,white 15px,#138808 22px);
}
#pixel-art-container .cell:nth-child(284) {
  background-color: #4568dc;
}
#pixel-art-container .cell:nth-child(317) {
  background: linear-gradient(to top right, #4568dc, #b06ab3);
}
#pixel-art-container .cell:nth-child(318) {
background: linear-gradient(to top right, #4568dc, #b06ab3);
}
#pixel-art-container .cell:nth-child(327) {
  background-color: rgb(238, 188, 130); /* reethika */
}
#pixel-art-container .cell:nth-child(361) {
    background-color: coral;
}
#pixel-art-container .cell:nth-child(379) {
  background-color: rgb(28, 78, 228);
}
#pixel-art-container .cell:nth-child(381) {
    background-color: rgb(93, 25, 25);
}
#pixel-art-container .cell:nth-child(382) {
    background-color: rgb(87, 24, 24);
}
#pixel-art-container .cell:nth-child(389) {
    background-color: rgb(53, 243, 23);
}
#pixel-art-container .cell:nth-child(391) {
    background-color: rgb(15, 02, 05);
}
#pixel-art-container .cell:nth-child(394) {
  background-color: brown
}
#pixel-art-container .cell:nth-child(395) {
  background-color: green
}
#pixel-art-container .cell:nth-child(396) {
  background-color: gold
}
#pixel-art-container .cell:nth-child(397) {
  background-color: purple;
}
#pixel-art-container .cell:nth-child(398) {
  background-color: pink;
}
#pixel-art-container .cell:nth-child(399) {
  background-color: beige;
}
#pixel-art-container .cell:nth-child(400) {
  background-color: blue;
}
#pixel-art-container .cell:nth-child(456) {
   background-color: rgb(18, 30, 89)
}
#pixel-art-container .cell:nth-child(1225) {
    background-color: navy
}
#pixel-art-container .cell:nth-child(1667) {
    background-color: yellow
}

#pixel-art-container .cell:nth-child(2000) {
  background-color: rgb(255, 0, 0);
}

#pixel-art-container .cell:nth-child(400) {
  background-color: orange;
}
#pixel-art-container .cell:nth-child(600) {
  background-color: red;
}

#pixel-art-container .cell:nth-child(509) {
  background-color: rgb(119, 0, 255)

#pixel-art-container .cell:nth-child(599) {
  background-color: red;

}